@model dynamic
<div id="contactAdd" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
            A header
        </h3>
    </div>
    <div class="modal-body">
        @Htnml
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-warning" rel="popover" data-content="This will close the contact and lose all changes." data-original-title="Warning!!!"
          data-placement="bottom" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
<h2>
    title</h2>
