@using MVC.Web.Helper;
@using AjaxPlay.Code;
@model dynamic
<div class="row-fluid">
    <div class="span10" id="filters">
        @{ Html.RenderAction("ContactFilters"); }
    </div>
    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#"><i class="icon-tags"></i>&nbsp;Filters <span class="caret">
            </span></a>
            <ul class="dropdown-menu">
                <li>
                    @using (Ajax.BeginActionLink("AddMyContactFilter", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "filters" }))
                    {
                        <text>
                            <i class="icon-tag"></i>&nbsp;My contacts
                        </text>
                    }
                </li>
                <li>
                    @using (Ajax.BeginActionLink("AddContactClosedFilter", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "filters" }))
                    {
                        <text>
                            <i class="icon-tag"></i>&nbsp;Open contacts
                        </text>
                    }
                </li>
                <li>
                    @using (Ajax.BeginActionLink("AddContactReasonFilter", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "filters" }))
                    {
                        <text>
                            <i class="icon-tag"></i>&nbsp;Contact reason
                        </text>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
