@using MVC.Web.Helper
@model AjaxPlay.Models.ContactReasonFilter
<div class="badge badge-inverse span2"  id="@Model.Id">
    <i class="icon-tag icon-white"></i>&nbsp;Reason is
    @(Model.Description)
    &nbsp;
    <div class="pull-right" style="width: auto;">
        @using (Ajax.BeginActionLink("EditContactReasonFilter", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = Model.Id }, new { data_ajax_mode = "replaceWith", rel = "popover", data_original_title="Edit", data_content="Edit this filter" }))
        {        
            <i class="icon-edit icon-white"></i>
        }
        @using (Ajax.BeginActionLink("RemoveContactFilter", new { id = @Model.Id }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "filters" }))
        {
            <i class="icon-remove icon-white"></i>
        }
    </div>
</div>
